<launch>

  <node pkg="dronedoc" type="odom_publisher" name="odom_publisher" respawn="false" output="screen" />

  <remap from="/cmd_vel" to="/mavros/setpoint_velocity/cmd_vel_unstamped"/>

  <node pkg="move_base" type="move_base" name="move_base" respawn="false" output="screen">

    <!-- Common params for costmap -->
    <rosparam command="load" ns="global_costmap" file="$(find dronedoc)/config/costmap_common_params.yaml"/>
    <rosparam command="load" ns="local_costmap" file="$(find dronedoc)/config/costmap_common_params.yaml"/>

    <!-- Params for global costmap -->
    <rosparam command="load" file="$(find dronedoc)/config/global_costmap_params.yaml"/>

    <!-- Params for local costmap -->
    <rosparam command="load" file="$(find dronedoc)/config/local_costmap_params.yaml"/>

    <!-- Params for local planner -->
    <rosparam command="load" file="$(find dronedoc)/config/eband_local_planner_params.yaml"/>

    <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS" />
  </node>

</launch>